{% extends 'base.html' %}
{% block main %}
{{ form.hidden_tag() }}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="success {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<header>
    <h1>Welcome, {{ user.name }}</h1>
    <h2>Active Tasks</h2>
</header>
<table>
    <!-- Table headers -->
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Task Status</th>
        <!-- check if user is a subuser -->
        {% if user %}
            <th>Delete</th>
            <th>Edit</th>
        {% endif %}
        
    </tr>
    <!-- Active tasks loop -->
    {% for task in active_tasks %}
        {% if not task.completed %}
            <tr class="item-row">
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date.strftime('%m-%d-%Y') }}</td>
                <td>
                    <form action="{{ url_for('mark_task_complete', task_id=task.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <input type="checkbox" name="completed" id="checkbox-{{ task.id }}" onchange="this.form.submit();" {{ 'checked' if task.completed }}>
                        <label for="checkbox-{{ task.id }}">Mark Complete</label>
                    </form>
                </td>
                {% if user %}
                    <td>
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <!-- Link to the edit route for this task -->
                        <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">No active tasks found. Click on Create a New Task to start.</td>
        </tr>
    {% endfor %}
</table>

<h2>Completed Tasks</h2>
<table>
    <!-- Same table headers -->
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Task Status</th>
        {% if user %}
            <th>Delete</th>
            <th>Edit</th>
        {% endif %}
    </tr>
    <!-- Completed tasks loop -->
    {% for task in completed_tasks %}
        {% if task.completed %}
            <tr class="item-row">
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date.strftime('%Y-%m-%d') }}</td>
                <td>Completed</td>
                {% if user %}
                    <td>
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <!-- Link to the edit route for this task -->
                        <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">No completed tasks found.</td>
        </tr>
    {% endfor %}
</table>

{% if user %}
    <h3>Create a New Task</h3>
    <form action="{{ url_for('list_tasks') }}" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }} <br> {{ form.title(size=15) }}</p>
        <p>{{ form.description.label }} <br> {{ form.description(size=30) }}</p>
        <p>{{ form.due_date.label }} <br> {{ form.due_date(size=30, type="date", pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}") }}</p>
        <div style="display: flex; justify-content: space-between;">
            <p>{{ form.submit() }}</p>
            <button type="button" class="button" onclick="simple_action('{{ url_for('create_subuser') }}')">Create a New SubUser</button>
        </div>
    </form>
{% endif %}

<form action="{{ url_for('logout') }}" method="get">
    {{ form.hidden_tag() }}
    <input type="submit" value="Logout">
</form>

<script type="text/javascript">
    function simple_action(target) {
        window.location = target;
    }
</script>
<a href="{{ url_for('manage_users') }}">Manage Users</a>
{% endblock %}