{% extends 'base.html' %}
{% block main %}
{{ form.hidden_tag() }}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="success {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<header>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h2>Your tasks</h2>
</header>
<table>
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Task Status</th>
        <th>Delete</th>   

    </tr>
    {% if tasks %}
        {% for task in tasks %}
            <tr class="item-row">
                <td>{{ loop.index }}</td> <!--Use loop.index to always display starting with 1 -->
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date.strftime('%Y-%m-%d') }}</td>
                <td>
                    <form action="{{ url_for('mark_task_complete', task_id=task.id) }}" method="post">
                        <input type="checkbox" name="completed" id="checkbox-{{ task.id }}" onchange="this.form.submit();" {{ 'checked' if task.completed }}>
                        <label for="checkbox-{{ task.id }}">Complete</label>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">No tasks found. Click on Create a New Task to start.</td>
        </tr>
    {% endif %}
</table>

<h3>Create a New Task</h3>
<form action="" method="post">
        <p>{{ form.title.label }} <br> {{ form.title(size=15) }}</p>
        <p>{{ form.description.label }} <br> {{ form.description(size=30) }}</p>
        <p>{{ form.due_date.label }} <br> {{ form.due_date(size=30, type ="date", pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}") }}</p>
        <p>{{ form.csrf_token }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</form>

{% endblock %}
