{% extends 'base.html' %}
{% block main %}
    <h2>User Management</h2>
    <table>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ url_for('user_admin') }}" method="post">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" name="action" value="deactivate">Deactivate</button>
                        <button type="submit" name="action" value="delete">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('logout') }}" method="get">
       
        <input type="submit" value="Logout">
    </form>
{% endblock %}
